/* Basic CSS Values that apply more or less everywhere. */

/* Load fonts: NPS font */
@font-face{
	font-family: 'NPS';
	src: url('../fonts/NPSfont_regular.ttf') format('truetype');
	font-weight:400;
}
@font-face{
	font-family: 'NPS';
	src: url('../fonts/NPSfont_bold.ttf') format('truetype');
	font-weight:700;
}
@font-face{
	font-family: 'NPS';
	src: url('../fonts/NPSfont_extrabold.ttf') format('truetype');
	font-weight:900;
}

/* The Basics */
*{
	margin:0;
	padding:0;
    box-sizing: border-box;
}
html{
	width:100%;
	height:100%;
    /* This makes Korean text break at word boundaries. */
    word-break: keep-all;
}
body{
	width:100%;
	height:100%;
	font-family:NPS;
    font-size:16px;
    color:var(--color-text-auto);
}

/* Full-screen canvas */
.fullsize{
	position:absolute;
	top:0;
    bottom:0;
    left:0;
    right:0;
}
canvas{
	display:block;
	pointer-events:none;
}


/* A .linkbutton class for creating a hyperlink button. */
a.linkbutton{
	text-decoration: none;
}
.linkbutton{
	display:block;
	font-weight:bold;
	text-align:center;
	display:flex;
	flex-direction:row;
    justify-content:center;
	align-items:center;
	padding-left:12px;
	padding-right:12px;
	padding-top:4px;
	padding-bottom:4px;
	font-size:1.2em;
	border-radius:8px;
	gap:8px;
	border: 2px solid;
}

/* Border for embeds */
.embed-frame{
  box-shadow: 0 0 16px var(--color-embed-glow-auto);
  border: 2px solid var(--color-embed-border-auto);
  border-radius:16px;
  overflow:hidden;
}


/* Responsive Section */
/* Targeting down to 300px. */

/* Mobile mode */
@media (width<640px) {
}

/* Smaller Mobiles */
@media (width<480px) {
}

/* Ridiculously Small Mobiles */
@media (width<360px) {
}

/* Mobile ladder */
/* PC <-640-> Big Mobile <-480-> Small Mobile <-360-> Ridiculous <-300-> I give up */
@media (width>=480px) and (width<640px) {
  /* 640 ~ 480 : Big Mobiles */
  body{
    font-size:20px;
  }
}
@media (width>=360px) and (width<480px) {
  /* 480 ~ 360 : Small Mobiles */
  body{
    font-size:20px;
  }
}
@media (width<360px) {
  /* 360 ~ 300 : Ridiculously Small Mobiles */
  body{
    font-size:16px;
  }
}
