/* Full-screen canvas */
.fullsize{
	position:absolute;
	top:0;
    bottom:0;
    left:0;
    right:0;
}

.download-button{
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:0.2em;
  
  padding-top: 0.3em;
  padding-bottom: 0.2em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  
  text-decoration:none;
  border-radius:0.3em;
  
  background-color:var(--color-text-reversed);
  color:var(--color-background-reversed);
  font-weight:700;
}

.download-button::before{
  content:"download";
  font-family:'Material Symbols Rounded';
  font-size:1.5em;
}

.link-button{
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:0.2em;
  
  padding-top: 0.3em;
  padding-bottom: 0.2em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  
  text-decoration:none;
  border-radius:0.5em;
  
  color:var(--color-text-auto);
  background-color:var(--color-background-auto);
  border-style:solid;
  border-width:2px;
  font-weight:700;
  line-height:0;
}

.internal-page-link-button{
  display:inline-flex;
  flex-direction:row;
  align-items:flex-end;
  gap:0.2em;
  
  color:var(--color-text-auto);
  font-weight:700;
  cursor:pointer;

  border-bottom-color:var(--color-text-auto);
  border-bottom-style:solid;
  border-bottom-width:0.15em;
  
  padding-left:0.2em;
  padding-right:0.2em;
}
.internal-page-link-button::before{
  content:"open_in_browser";
  font-family:'Material Symbols Rounded';
  font-size:1.0em;
  transform:scale(1.2);
  text-decoration-style:none !important;
  text-decoration-line:none;
}

/* Border for embeds */
.embed-frame{
  box-shadow: 0 0 16px var(--color-embed-glow-auto);
  border: 2px solid var(--color-embed-border-auto);
  border-radius:16px;
  overflow:hidden;
}
