/* Page: Credits (#page-credits) */

/* Structure:
 * .credits-columns
 *   .credits-container x2
 *     .credits-header
 *     .credits-section +
 *       .credits-section-name
 *       .credits-section-divider
 *       .credits-section-content
 *         .credits-entry-container +
 *           .credits-entry-name
 *           .credits-entry-role-list
 *             .credits-entry-role +
 * 
 */
#credits-columns{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:flex-start;
	flex-wrap:wrap;
	gap:16px;
}
.credits-container{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	flex-wrap:wrap;
	align-items:stretch;
	gap:8px;
	color:var(--color-text-auto);
}
.credits-header{
	font-size:1.5em;
	font-weight:700;
	margin-bottom:8px;
	text-align:center;
}
.credits-section{
	display:flex;
	flex-direction:row;
	align-items:stretch;
	min-height:3.0em;
	/*border:1px solid red;*/
	
}
.credits-section-name{
	padding-right:8px;
	font-size:1.0em;
	font-weight:700;
	width:160px;
	display:flex;
	flex-direction:column;
	align-items:flex-end;
	justify-content:center;
	text-align:right;
	/*
	background-image:linear-gradient(
		to left,
		var(--color-background-default),
		hsl(from var(--color-background-default) h s l /0%));*/
}
.credits-section-divider{
	width:2px;
	/*margin-top:2px;
	margin-bottom:2px;*/
	background-color:var(--color-text-auto);
}

.credits-section-content{
	flex-grow:1;
	padding-left:8px;
	gap:8px;
	min-width:160px;
	padding-top:8px;
	padding-bottom:8px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	/*
	background-image:linear-gradient(
		to right,
		var(--color-background-default),
		hsl(from var(--color-background-default) h s l /0%));*/
}
.credits-entry-container{
	display:flex;
	flex-direction:column;
	align-items:flex-start;	
	
}
.credits-entry-name{
	font-size:1.3em;
	font-weight:700;
	cursor:pointer;
}
.credits-entry-role-list{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	gap:4px;
	overflow:hidden;
	transition-property:height;
	transition-duration:0.5s;
}
.credits-entry-role{
	font-size:0.8em;
	padding:2px;
	border-radius:4px;
	/*background:var(--color-background-reversed);
	color:var(--color-text-reversed);*/
}
.credits-entry-role.primary-role{
	font-weight:700;
}
.credits-entry-sns-list{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	gap:4px;
	overflow:hidden;
	transition-property:height;
	transition-duration:0.5s;
}
.credits-entry-sns{
	color:var(--color-text-auto);
	font-size:0.9em;
}

/* Responsive Section */
/* Targeting down to 300px. */

/* Mobile mode */
@media (width<640px) {
	#credits-columns{
		flex-direction:column;
		align-items:center;
		gap:32px;
	}
}

/* Smaller Mobiles */
@media (width<480px) {
}

/* Ridiculously Small Mobiles */
@media (width<360px) {
}

/* Mobile ladder */
/* PC <-640-> Big Mobile <-480-> Small Mobile <-360-> Ridiculous <-300-> I give up */
@media (width>=480px) and (width<640px) {
  /* 640 ~ 480 : Big Mobiles */
}
@media (width>=360px) and (width<480px) {
  /* 480 ~ 360 : Small Mobiles */
}
@media (width<360px) {
  /* 360 ~ 300 : Ridiculously Small Mobiles */
}
