

#internal-map-container{
	align-self:stretch;
	aspect-ratio:1.0;
	position:relative;
}
#internal-map-image{
	position:absolute;
	z-index:1;
	width:100%;
	height:100%;
	inset:0;
}
#internal-map-canvas{
	position:absolute;
	z-index:2;
	width:100%;
	height:100%;
	inset:0;
}
