
#internal-map-scroller{
	width: 100%;
}

#internal-map-container{
	align-self:center;
	width:100%;
	aspect-ratio:1.0;
	position:relative;
}

/**/
@media (width<800px) {
	#internal-map-scroller{
		/* Expand to absolute edges in mobile*/
		width:var(--mcd-inner-width);
	}
}
/* Mobile mode */
@media (width<640px) {
	#internal-map-scroller{
		overflow-x:scroll;
	}
	#internal-map-container{
		width:max(100%,500px); /* Don't shrink to less than 500px. */
	}
}

.internal-map-image{
	position:absolute;
	z-index:1;
	width:100%;
	height:100%;
	inset:0;
}
#internal-map-canvas{
	position:absolute;
	z-index:2;
	width:100%;
	height:100%;
	inset:0;
}

.internal-map-buttons{
	position:absolute;
	z-index:3;
	top:0;
	bottom:0;
	
	
	display:flex;
	flex-direction:column;
	padding:16px;
	justify-content:flex-start;
	
	gap:8px;
}

.internal-map-buttons.left-align{
	align-items:flex-start;
	left:0;
}
.internal-map-buttons.right-align{
	align-items:flex-end;
	right:0;
}
