
#internal-map-scroller{
	width: 100%;
	overflow-x:scroll;
}
/* Mobile mode */
@media (width<640px) {
	/* Expand to absolute edges in mobile*/
	#internal-map-scroller{
		width:var(--mcd-inner-width);
	}
}
#internal-map-container{
	align-self:center;
	width:max(100%,400px); /* Don't shrink to less than 400px. */
	aspect-ratio:1.0;
	position:relative;
	
	
}
#internal-map-image{
	position:absolute;
	z-index:1;
	width:100%;
	height:100%;
	inset:0;
}
#internal-map-canvas{
	position:absolute;
	z-index:2;
	width:100%;
	height:100%;
	inset:0;
}

#internal-map-buttons{
	position:absolute;
	z-index:3;
	width:100%;
	height:100%;
	inset:0;
	
	display:flex;
	flex-direction:column;
	padding:16px;
	justify-content:flex-start;
	align-items:flex-end;
	gap:8px;
}

