/* Page: Intro (#page-intro) */

/* This is to offset the padding-top:120px from #main-content-actual */
#page-intro{
  margin-top:-80px;
}

#ticket{
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
  width:250px;
  aspect-ratio:1.25;
  font-size:1.5em;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:32px;
  margin-top:64px;
  margin-bottom:64px;
  transition-property: transform margin-bottom;
  transition-duration:0.5s;
  transition-timing-function: ease-in-out;
  transform:rotate(10deg);
  pointer-events:auto;
  color:var(--color-text-dark);
}
body.langmode-ko #ticket{
  background-image : url("/sprites/OBJ-003_DeformedKR_PaperEdit-260106_RszW500.png");
}
body.langmode-en #ticket{
  background-image : url("/sprites/OBJ-003_DeformedEN_PaperEdit-260106_RszW500.png");
}
#ticket.css-filters{
  filter:drop-shadow(8px 8px 10px #00000080);
}
@media ((hover: hover) and (pointer: fine)) {
  #ticket:hover{
    transform:rotate(0deg);
  }
  #ticket.css-filters:hover{
    filter:drop-shadow(0 0 8px #ffff85);
  }
}


#countdown-display > .lang-ko{
  font-size:1.4em;
}
#countdown-display > .lang-ko > .dday{
  font-family:monospace;
  font-weight:bold;
}

#countdown-display > .lang-en > .countdown-numeral{
  font-family:monospace;
  font-weight:bold;
  font-size:1.4em;
}

/* Responsive Section */
/* Targeting down to 300px. */

/* Mobile mode */
@media (width<640px) {
}

/* Smaller Mobiles */
@media (width<480px) {
}

/* Ridiculously Small Mobiles */
@media (width<360px) {
}

/* Mobile ladder */
/* PC <-640-> Big Mobile <-480-> Small Mobile <-360-> Ridiculous <-300-> I give up */
@media (width>=480px) and (width<640px) {
  /* 640 ~ 480 : Big Mobiles */
}
@media (width>=360px) and (width<480px) {
  /* 480 ~ 360 : Small Mobiles */
}
@media (width<360px) {
  /* 360 ~ 300 : Ridiculously Small Mobiles */
}
