/* Page: Mascot (#page-mascot) */

.icon-dark{
  display:none;
}
.dark-mode .icon-dark{
  display:block;
}
.icon-light{
  display:none;
}
.light-mode .icon-light{
  display:block;
}



.hanmari{
  --character-fg:light-dark(
    var(--character-hanmari-mane-black),
    var(--character-hanmari-body));
  --character-bg:light-dark(
    var(--character-hanmari-body),
    var(--character-hanmari-mane-black));
  --character-minimize-bg:var(--character-hanmari-body);
}
.leebyeori{
  --character-fg:light-dark(
    var(--character-leebyeori-mane-brown),
    var(--character-leebyeori-body));
  --character-bg:light-dark(
    var(--character-leebyeori-body),
    var(--character-leebyeori-mane-brown));
  --character-minimize-bg:var(--character-leebyeori-body);
}

#mascot-selector{
  display:flex;
  flex-direction:row-reverse;
  position:relative;
  --mascot-container-width:calc(var(--pages-actual-width) - 64px);
}
.mascot-selector-divider{
  width:1px;
  align-self:stretch;
  margin-left:2px;
  margin-right:2px;
  /*background-color:var(--color-text-auto);*/
}

/* .mascot-container 
     + .isolate : when the bg is transparent
     + .isolate.minimize : when it is squished to the side
                           because the other mascot is opened
     (nothing) : when it is opened, and the refsheet is visible
 */
.mascot-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  overflow:hidden;
  transition-property: max-height, max-width, background-color,filter;
  transition-duration:1.0s, 1.0s, 1.0s, 0.3s;
  max-width:var(--mascot-container-width);
  /* Just a rough estimate of how tall things should be. */
  max-height:calc((var(--mascot-container-width) /1.5) + 20em);
  background-color:transparent;
  position:relative;
}
.mascot-container.isolate{
  max-width:calc(var(--mascot-container-width) * 0.50);
  max-height:calc(var(--mascot-container-width) / 1.556 );
}
.mascot-container.isolate.minimize{
  max-width:50px;
  background-color:var(--character-minimize-bg);
  filter:brightness(0.7);
}
.refsheet-thumb-isolated{
  filter:none;
  transition-property: filter;
  transition-duration:0.3s;
}

@media ((hover: hover) and (pointer: fine)) {
  .mascot-container.isolate.minimize:hover{
    filter:none;
  }
  .mascot-container.isolate:hover .refsheet-thumb-isolated{
    filter:drop-shadow(0 0 6px var(--character-minimize-bg));
  }
}


.mascot-content{
  width:var(--mascot-container-width);
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:4px;
}
.mascot-title{
  display:flex;
  flex-direction:row;
  align-items:flex-end;
  gap:8px;
  margin-top:12px;
  font-size:2.0em;
  font-weight:700;
  color: var(--character-fg);
}
.mascot-title .sublang{
  font-size:0.7em;
}
.mascot-stats{
  color: var(--character-fg);
  font-size:1.0em;
  font-weight:700;
}
.mascot-bio{
  color: var(--character-fg);
  align-self:stretch;
  padding-left:32px;
  padding-right:32px;
  text-align:center;
}

.refsheet-image{
  width:var(--mascot-container-width);
  height: calc(var(--mascot-container-width) / 1.556);
  position:relative;
  /*border: 2px solid var(--character-bg);*/
  transition-property: width, margin;
  transition-duration:1.0s;
  flex-shrink:0;
  flex-grow:0;
}
.hanmari.isolate .refsheet-image{
  /*width:min(40vw,300px);*/
  margin-left:calc(var(--mascot-container-width) * -0.07);
}
.leebyeori.isolate .refsheet-image{
  /*width:min(40vw,300px);*/
  margin-left:calc(var(--mascot-container-width) * 0.10);
}
.hanmari.isolate.minimize .refsheet-image{
  /*width:min(40vw,300px);*/
  margin-left:calc(var(--mascot-container-width) * 0.15);
}
.leebyeori.isolate.minimize .refsheet-image{
  /*width:min(40vw,300px);*/
  margin-left:calc(var(--mascot-container-width) * -0.05);
}
.mascot-label-positioner{
  position:absolute;
  left:-100px;
  right:-100px;
  top:calc(var(--mascot-container-width) * 0.45);
  display:flex;
  align-items:center;
  justify-content:center;
}
.mascot-label{
  opacity:0;
  transition-property: opacity, transform;
  transition-duration:1.0s;
  transform:none;
  pointer-events:none;
  z-index:10;
  font-size:24px;
  color: var(--character-fg);
  background-color:var(--character-bg);
  border-radius:4px;
  padding:8px;
}
.isolate .mascot-label{
  opacity:1;
}
.hanmari.minimize .mascot-label{
  transform:rotate(90deg);
}
.leebyeori.minimize .mascot-label{
  transform:rotate(-90deg);
}
.refsheet-image > img{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
}

.refsheet-thumb-full{
  z-index:1;
  opacity:1;
  transition-property: opacity;
  transition-duration:1.0s;
}
.isolate .refsheet-thumb-full{
  opacity:0;
}
.refsheet-thumb-isolated{
  z-index:2;
}

@keyframes fade-out{
  0%{
    opacity:1.0;
  }
  100%{
    opacity:0.0;
  }
}
@keyframes fade-in{
  0%{
    opacity:0.0;
  }
  100%{
    opacity:1.0;
  }
}
#mascot-click-suggester{
  position:absolute;
  z-index:20;
  top:calc((var(--mascot-container-width) / 1.556) - 0.4em );
  font-size:1.0em;
  left:0;
  right:0;
  text-align:center;
  /*
  border-radius:4px;
  padding:8px;
  color: var(--color-text-auto);
  background-color:var(--color-background-auto);*/
  
  animation-fill-mode: both;
  animation-iteration-count:1;
}
#mascot-click-suggester.hidden{
  animation-delay:0.0s;
  animation-duration:0.5s;
  animation-name:fade-out;
  animation-play-state:running;
}
#mascot-click-suggester:not(.hidden){
  animation-delay:1.0s;
  animation-duration:1.0s;
  animation-name:fade-in;
  animation-play-state:running;
}

/* Responsive Section */
/* Targeting down to 300px. */

/* Mobile mode */
@media (width<640px) {
  .refsheet-downloads{
    flex-direction:column;
  }
}

/* Smaller Mobiles */
@media (width<480px) {
}

/* Ridiculously Small Mobiles */
@media (width<360px) {
}

/* Mobile ladder */
/* PC <-640-> Big Mobile <-480-> Small Mobile <-360-> Ridiculous <-300-> I give up */
@media (width>=480px) and (width<640px) {
  /* 640 ~ 480 : Big Mobiles */
}
@media (width>=360px) and (width<480px) {
  /* 480 ~ 360 : Small Mobiles */
}
@media (width<360px) {
  /* 360 ~ 300 : Ridiculously Small Mobiles */
}
