/* Page: Previous (#page-previous) */
#page-previous{
  align-items:stretch;
}
#previous-content{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:8px;
}
/* Copied from MPN1 Site */
.centerhead{
	font-size:1.2em;
	margin-top:16px;
	font-style:italic;
	font-weight:700;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	align-self: stretch;
	gap:16px;
}
.centerhead::after{
	content:"";
	height:2px;
	background-color:var(--color-text-auto);
	flex-grow:1;
}
.centerhead::before{
	content:"";
	height:2px;
	background-color:var(--color-text-auto);
	flex-grow:1;
}



#prev-site-links{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:flex-end;
  flex-wrap:wrap;
  row-gap:8px;
}
#prev-site-links > a{
  color:var(--color-text-auto);
  font-weight:700;
}

.previous-yt-embed{
  align-self:stretch;
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.previous-yt-embed > iframe{
  width: calc(100% - 32px);
  aspect-ratio: 1.777;
  margin:16px;
}

/* Responsive Section */
/* Targeting down to 300px. */

/* Mobile mode */
@media (width<640px) {
}

/* Smaller Mobiles */
@media (width<480px) {
}

/* Ridiculously Small Mobiles */
@media (width<360px) {
}

/* Mobile ladder */
/* PC <-640-> Big Mobile <-480-> Small Mobile <-360-> Ridiculous <-300-> I give up */
@media (width>=480px) and (width<640px) {
  /* 640 ~ 480 : Big Mobiles */
}
@media (width>=360px) and (width<480px) {
  /* 480 ~ 360 : Small Mobiles */
}
@media (width<360px) {
  /* 360 ~ 300 : Ridiculously Small Mobiles */
}
