

#register-tiers-list{
	display:flex;
	flex-direction:column;
	align-items:stretch;
	gap:8px;
	max-width:600px;
	width: 100%;
}

.register-tier-entry.tier-standard{
	--tier-color-base:var(--color-tier-standard);
}
.register-tier-entry.tier-sponsor{
	--tier-color-base:var(--color-tier-sponsor);
}
.register-tier-entry.tier-mane{
	--tier-color-base:var(--color-tier-mane);
}
.register-tier-entry.tier-princess{
	--tier-color-base:var(--color-tier-princess);
}
.register-tier-entry.tier-spirit{
	--tier-color-base:var(--color-tier-spirit);
}
.register-tier-entry.tier-spirit-dx{
	--tier-color-base:var(--color-tier-spirit-dx);
}
.register-tier-entry.tier-onsite{
	--tier-color-base:var(--color-tier-onsite);
}

.register-tier-entry{
	border-radius:8px;
	overflow:hidden;
	background-color: hsl(from var(--color-background-auto) h s l / 30%);
	
	position:relative;
	/* Z-Index of +1 to establish a stacking context*/
	z-index:1;
}

.register-click-hint{
	position:absolute;
	right:8px;
	bottom:8px;
	/* -1 to go behind regularly positioned elements*/
	z-index:-1;
	opacity:0.7;
	font-size:0.8em;
	display:flex;
	flex-direction:row;
	align-items:center;
}
.register-click-hint .material-symbols-rounded{
	font-size:1.3em;
	margin-bottom:0.0em;
}
.register-tier-entry.tier-detail-mode .register-click-hint{
	display:none;
}

.register-tier-regular-positioning{
	border-radius:8px;
	border-style:solid;
	border-width:4px;
	border-color:var(--tier-color-base);
	display:flex;
	flex-direction:column;
	align-items:stretch;
}
.register-tier-header{
	display:flex;
	flex-direction:column;
	align-items:stretch;
	border-bottom-style:dotted;
	border-bottom-width:2px;
	border-bottom-color: hsl(from var(--tier-color-base) h s l / 100%);
	gap:8px;
	padding-bottom:8px;
}

.register-tier-top{
	display:flex;
	flex-direction:row;
	align-items:center;
}
#register-tiers-list.narrow .register-tier-top{
	flex-direction:column;
}
.register-topleft{
	background-color:#0F0;
	display:flex;
	flex-direction:row;
	padding-top:8px;
	padding-left:44px;
	padding-right:16px;
	padding-bottom:10px;
	border-bottom-right-radius:16px;
	position:relative;
	background-color: hsl(from var(--tier-color-base) h s l / 100%);
	overflow:hidden;
	align-self:flex-start;
	flex-shrink:1;
}
#register-tiers-list.narrow .register-topleft{
	border-bottom-right-radius:0;
	align-self:stretch;
}
.register-tier-icon{
	width:44px;
	height:44px;
	transform:rotate(-10deg);
	opacity:1.0;
	position:absolute;
	top:2px;
	left:2px;
	/* +1 to go above stuff*/
	z-index:1;
}
.register-tier-name{
	font-size:1.8em;
	font-weight:700;
	color:var(--color-text-dark);
}
.register-tier-description{
	color:var(--color-text-auto);
	margin-left:16px;
	margin-right:16px;
}
.register-tier-topcenter{
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:center;
	margin-left:12px;
	margin-top:4px;
	gap:2px;
	align-self:stretch;
	flex-shrink:0;
}
#register-tiers-list.narrow .register-tier-topcenter{
	flex-direction:row;
	margin-left:4px;
	margin-top:12px;
	margin-right:4px;
	gap:8px;
}
.register-tier-limit{
	color:var(--color-text-auto);	
	font-size:0.8em;
}
.register-tier-top-spacer{
	flex-grow:1;
}
.register-tier-price{
	font-size:1.0em;
	font-weight:700;
	color:var(--color-text-auto);
}

.register-tier-button{
	margin:8px;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-shrink:0;
}
#register-tiers-list.narrow .register-tier-button{
	margin-top:4px;
}
.register-tier-perks-list{
	display:flex;
	/*flex-direction:column;*/
	flex-direction:row;
	flex-wrap:wrap;
	gap:4px;
	padding:12px;
	cursor:pointer;
}
.register-tier-perks-list:hover{
	background-color: light-dark(#00000018,#FFFFFF24);
}

.register-tier-entry.tier-detail-mode .register-tier-perks-list{
	flex-direction:column;
}

#register-tiers-list .tier-standard{
	--perk-color-base:var(--color-tier-standard);
}
#register-tiers-list .tier-sponsor{
	--perk-color-base:var(--color-tier-sponsor);
}
#register-tiers-list .tier-mane{
	--perk-color-base:var(--color-tier-mane);
}
#register-tiers-list .tier-princess{
	--perk-color-base:var(--color-tier-princess);
}
#register-tiers-list .tier-spirit{
	--perk-color-base:var(--color-tier-spirit);
}
#register-tiers-list .tier-spirit-dx{
	--perk-color-base:var(--color-tier-spirit-dx);
}
#register-tiers-list .tier-onsite{
	--perk-color-base:var(--color-tier-onsite);
}

.register-tier-perk{
	padding:0.3em;
	font-size:0.9em;
	color:var(--color-perks-text);
	background-color:var(--perk-color-base);
	border-radius:2px;
	width:auto;
	display:flex;
	flex-direction:row;
	align-items:center;
}
#register-tiers-list.narrow .register-tier-perk{
	flex-direction:column;
	align-items:flex-start;
	gap:2px;
}
.perk-name{
	flex-shrink:0;
}
.register-tier-entry.tier-detail-mode .perk-name{
	font-weight:700;
}
.perk-detail{
	margin-left:8px;
	display:none;
	font-size:0.9em;
	opacity:0.8;
	flex-shrink:1;
	flex-grow:1;
	line-height:1.4;
}
.register-tier-entry.tier-detail-mode .perk-detail{
	display:block;
}

.register-tier-perk.perk-overwritten.perk-overwritten{
	background-color:light-dark(#828282,#606060);
	/*display:none;*/
}
.register-tier-perk.perk-overwritten .perk-name{
	text-decoration-line: line-through;
	text-decoration-thickness: 3px;
}

.register-tier-perk.perk-inherited{
	background-color:light-dark(#D0D0D0,#B0B0B0);
	/*background-color:var(--color-background-light);*/
	/*background-color:#E0E0E0;*/
}
.register-tier-perks-inherit-divider{
	height:24px;
	font-size:32px;
	font-weight:700;
	text-align:center;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	color:var(--perk-color-base);
	align-self:stretch;
}
.register-tier-perks-inherit-divider::before{
	display:block;
	flex-grow:1;
	margin-right:4px;
	height:4px;
	background-image:linear-gradient(
		to left,
		var(--perk-color-base),
		hsl(from var(--perk-color-base) h s l / 0%)
	);
	content:"";
}
.register-tier-perks-inherit-divider::after{
	display:block;
	flex-grow:1;
	margin-left:4px;
	height:4px;
	background-image:linear-gradient(
		to right,
		var(--perk-color-base),
		hsl(from var(--perk-color-base) h s l / 0%)
	);
	content:"";
}
.register-tier-perks-inherit-marker{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	color:var(--color-text-auto);
	font-size:1.2em;
	font-weight:700;
	text-align:center;
	width:1.5em;
}
