
/* Timetable content (#page-timetable) */

/* To ensure scalability, all length units should be in em. */
#ttable-positioner{
  font-size:min(1.5vw,16px);
}
#ttable-container{
}
.timetable-dom-root{
  /* Set dynamically at timetable.js: 
   * position, width, height */
}
.timetable-block-body{
  /* Set dynamically at timetable.js: 
   * z-index, top, left, height, width, filter, cursor, 
   * border-radius, background-image, background-color */
  position:absolute;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  
  transition-property:top,left,width,height,filter;
  transition-duration:0.5s, 0.5s, 0.5s, 0.5s, 0.2s;
  transition-timing-function:ease-in-out,ease-in-out,ease-in-out,ease-in-out,linear;
  
  overflow:hidden;
  
  text-align:center;
  
  color:var(--color-text-dark);
}

.timetable-block-body.timetable-block-mouseover{

}

.timetable-block-close-button{
  transition-property: opacity;
  transition-duration:0.5s;
  transition-timing-function: ease-in-out;
  /* FF doesn't support this apperantly
  transition-behavior: allow-discrete; 
  display:block;*/
  opacity:1.0;
  cursor:pointer;
  position: absolute;
  top: 0;
  right:0;
  width:2em;
  height:2em;
  z-index:1;
}
.timetable-block-close-svg{
  position:absolute;
  top:0.15em;
  left:0.15em;
  right:0.15em;
  bottom:0.15em;
}

.timetable-block-close-button.hidden{
  opacity:0.0;
  pointer-events:none;
}

.timetable-block-outline{
  /* Set dynamically at timetable.js: 
   * z-index, top, left, height, widht, opacity,
   *  border-radius, border-color */
  position:absolute;
  transition-property:opacity;
  transition-duration:0.5s;
  transition-timing-function:ease-in-out;
  border-style:solid;
  border-width:0.25em;
}

.timetable-block-text{
  /* Set dynamically at timetable.js: 
   * font-size */
  transition-property:transform;
  transition-duration:0.5s;
  transition-timing-function:ease-in-out;
  text-align:center;
}
.timetable-block-vertical .timetable-block-text{
  width:15em;
}
.timetable-block-vertical:not(.timetable-block-mouseover) .timetable-block-text {
  transform:rotate(90deg);
}

.timetable-block-description-container{
  opacity:0.0;
  transition-property:opacity, max-height;
  transition-duration:0.5s;
  transition-timing-function:ease-in-out;
  max-height:0;
  overflow:hidden;
}

.timetable-block-body.timetable-block-mouseover .timetable-block-description-container{
  opacity:1.0;
  max-height:4em;
}

.timetable-block-description-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.timetable-desc-time{
  margin-top:0.2em;
  font-size:0.6em;
}
.timetable-desc-text{
  margin-top:0.1em;
  font-size:0.8em;
  font-weight:400;
}

.timetable-tick-line{
  /* Set dynamically at timetable.js: 
   * top, left, height, width, border-bottom-width */
  z-index:5;
  position:absolute;
  border-bottom-color:hsl(from var(--color-text-auto) h s l / 50%);
  border-bottom-style:solid;
}
.timetable-tick-text{
  /* Set dynamically at timetable.js: 
   * left, right */
  position:absolute;
  bottom:0;
  z-index:6;
  font-size:0.8em;
  font-weight:900;
}

.timetable-cgroup-outline{
  /* Set dynamically at timetable.js: 
   * left, width, height, background */
  position:absolute;
  top:0;
  border-radius:0.5em;
  z-index:50;
}
.timetable-cgroup-label{
  /* Set dynamically at timetable.js: 
   *  */
  position:absolute;
  left:0;
  right:0;
  top:0;
  font-size:1.5em;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  gap:0.2em;
}
.timetable-cgroup-label-line2{
  font-size:0.8em;
}

#timetable-mobile-move-button{
  /*display:flex;*/
  display:none;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  
}
#timetable-mobile-move-button > div{
  color:#FFFFFF;
  padding:16px;
  cursor:pointer;
  pointer-events:auto;
  text-shadow: 0 0 10px #00000080;
  font-size:64px;
}


/* Responsive Section */
/* Targeting down to 300px. */

/* Mobile mode */
@media (width<640px) {
  #ttable-container{
    transition-property:margin;
    transition-duration:0.5s;
  }
  #ttable-positioner{
    width:100%;
    overflow-x:visible;
    font-size:min(4.0vw,16px);
  }
  
  #timetable-mobile-move-button{
    display:flex;
  }
}

/* Smaller Mobiles */
@media (width<480px) {
}

/* Ridiculously Small Mobiles */
@media (width<360px) {
}

/* Mobile ladder */
/* PC <-640-> Big Mobile <-480-> Small Mobile <-360-> Ridiculous <-300-> I give up */
@media (width>=480px) and (width<640px) {
  /* 640 ~ 480 : Big Mobiles */
}
@media (width>=360px) and (width<480px) {
  /* 480 ~ 360 : Small Mobiles */
}
@media (width<360px) {
  /* 360 ~ 300 : Ridiculously Small Mobiles */
}
