/* Page: Venue (#page-venue) */
#venue-place-name-top{
  margin-top:16px;
}
#venue-place-name-title{
  margin-top:8px;
  font-size:32px;
  font-weight:700;
}
#venue-place-address{
  margin-top:8px;
  font-style:italic;
}
#venue-map-site-links{
  margin-top:16px;
  margin-bottom:12px;
  display:flex;
  flex-direction:row;
  gap:8px;
}
#venue-map-link-naver{
  background-color:var(--color-background-naver);
  color:var(--color-text-naver);
}
#venue-map-link-kakao{
  background-color:var(--color-background-kakao);
  color:var(--color-text-kakao);
}
#venue-map-link-google{
  background-color:var(--color-background-google);
  color:var(--color-text-google);
}
#map-outer{
  width:min(600px,100%);
  height:400px;
  position:relative;
}
#kakaomap-content{
  width:100%;height:100%;
}
#map-btn-jump{
  position:absolute;
  top:16px;
  left:16px;
  height:64px;
  background-color:var(--template-malang-TWI);
  color:var(--color-text-light);
  z-index:10;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  gap:8px;
  padding:8px;
  box-shadow:4px 4px 16px #00000080;
  border-radius:8px;
}
#map-btn-jump > img {
  height:48px;
  width:48px;
}
#directions-container{
  width:min(600px,100%);
  margin-top:16px;
  display:flex;
  flex-direction:column;
  gap:8px;
}
.directions-listing{
  height:100px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  gap:4px;
  border-radius: 16px;
  padding:16px;
  background-color:var(--color-background-default);
  color:var(--color-text-dark);
  position:relative;
  line-height:1.4em;
}
.directions-icon{
  position:absolute;
  opacity:0.5;
  top:0;
  right:0;
  max-height:100%;
  
}
.directions-title{
  font-size:1.5em;
  font-weight:700;
}
.directions-body{
  
}
#directions-yangpyong{
  background-color: var(--color-background-line5);
}
#directions-yangpyong .directions-title{
  color: var(--color-text-line5);
}
#directions-munrae{
  background-color: var(--color-background-line2);
}
#directions-munrae .directions-title{
  color: var(--color-text-line2);
}
#directions-bus{
  background-color: var(--color-background-bluebus);
}
#directions-bus .directions-title{
  color: var(--color-text-bluebus);
}


/* Responsive Section */
/* Targeting down to 300px. */

/* Mobile mode */
@media (width<640px) {
}

/* Smaller Mobiles */
@media (width<480px) {
}

/* Ridiculously Small Mobiles */
@media (width<360px) {
}

/* Mobile ladder */
/* PC <-640-> Big Mobile <-480-> Small Mobile <-360-> Ridiculous <-300-> I give up */
@media (width>=480px) and (width<640px) {
  /* 640 ~ 480 : Big Mobiles */
}
@media (width>=360px) and (width<480px) {
  /* 480 ~ 360 : Small Mobiles */
}
@media (width<360px) {
  /* 360 ~ 300 : Ridiculously Small Mobiles */
}
