/* Page: Venue (#page-venue) */
#venue-place-name-top{
  margin-top:16px;
}
#venue-place-name-title{
  margin-top:8px;
  font-size:32px;
  font-weight:700;
}
#venue-place-address{
  margin-top:8px;
  font-style:italic;
}
#venue-map-site-links{
  margin-top:16px;
  margin-bottom:12px;
  display:flex;
  flex-direction:row;
  gap:8px;
}




#map-outer{
  width:min(600px,100%);
  height:400px;
  position:relative;
}
#kakaomap-content{
  width:100%;height:100%;
}

#kakaomap-content .atm-label-overlay{
  margin-top:12px;
  padding:8px;
  border-radius:8px;
  background-color:hsl(from var(--template-malang-TWI) h s l / 90%);
  color:var(--color-text-light);
  text-align:center;
  font-size:16px;
}

#kakaomap-content .route-waypoint-container{
  display:flex;
  flex-direction:column;
  align-items:center;
}
#kakaomap-content .route-waypoint-text{
  padding:4px;
  border-radius:8px;
  background-color:hsl(from var(--template-malang-TWI) h s l / 90%);
  color:var(--color-text-light);
  text-align:center;
  font-size:16px;
}
#kakaomap-content .route-waypoint-arrow{
  color:var(--template-malang-TWI);
  margin-top:-0.40em;
  font-size:2.0em;
  height:0.8em;
  font-family:"Material Symbols Rounded";
}
#kakaomap-content .station-drawings{
  pointer-events:none;
  object-fit: contain;
}


#map-btn-jump{
  position:absolute;
  top:16px;
  left:16px;
  height:64px;
  background-color:var(--template-malang-TWI);
  color:var(--color-text-light);
  z-index:10;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  gap:8px;
  padding:8px;
  box-shadow:4px 4px 16px #00000080;
  border-radius:8px;
}
#map-btn-jump > img {
  height:48px;
  width:48px;
}



#directions-intercity-divider{
  margin-top:40px;
  margin-bottom:8px;
  font-size:1.5em;
  font-weight:700;
  text-align:center;
}

#directions-yangpyong{
  background-color: var(--color-background-line5);
}
#directions-yangpyong .directions-title{
  color: var(--color-text-line5);
}
#directions-munrae{
  background-color: var(--color-background-line2);
}
#directions-munrae .directions-title{
  color: var(--color-text-line2);
}
#directions-bus{
  background-color: var(--color-background-bluebus);
}
#directions-bus .directions-title{
  color: var(--color-text-bluebus);
}
#directions-icn{
  background-color: var(--color-background-airport);
}
#directions-icn .directions-title{
  color: var(--color-text-airport);
}
#directions-gmp{
  background-color: var(--color-background-airport);
}
#directions-gmp .directions-title{
  color: var(--color-text-airport);
}
#directions-railway{
  background-color: var(--color-background-railway);
}
#directions-railway .directions-title{
  color: var(--color-text-railway);
}
#directions-gsbus{
  background-color: var(--color-background-gsbus);
}
#directions-gsbus .directions-title{
  color: var(--color-text-gsbus);
}

/* Responsive Section */
/* Targeting down to 300px. */

/* Mobile mode */
@media (width<640px) {
}

/* Smaller Mobiles */
@media (width<480px) {
}

/* Ridiculously Small Mobiles */
@media (width<360px) {
}

/* Mobile ladder */
/* PC <-640-> Big Mobile <-480-> Small Mobile <-360-> Ridiculous <-300-> I give up */
@media (width>=480px) and (width<640px) {
  /* 640 ~ 480 : Big Mobiles */
}
@media (width>=360px) and (width<480px) {
  /* 480 ~ 360 : Small Mobiles */
}
@media (width<360px) {
  /* 360 ~ 300 : Ridiculously Small Mobiles */
}
