RewriteEngine on
RewriteRule ^intro$ index.html
RewriteRule ^news$ index.html
RewriteRule ^about$ index.html
RewriteRule ^previous$ index.html
RewriteRule ^coc$ index.html
RewriteRule ^mascot$ index.html
RewriteRule ^timetable$ index.html
RewriteRule ^venue$ index.html
RewriteRule ^conbook$ index.html
RewriteRule ^register$ index.html
RewriteRule ^involved$ index.html
RewriteRule ^credits$ index.html
RewriteRule ^sponsors$ index.html
RewriteRule ^inquiries$ index.html
