
/* Load fonts: NPS font */
@font-face{
	font-family: 'NPS';
	src: url('fonts/NPSfont_regular.ttf') format('truetype');
	font-weight:400;
}
@font-face{
	font-family: 'NPS';
	src: url('fonts/NPSfont_bold.ttf') format('truetype');
	font-weight:700;
}
@font-face{
	font-family: 'NPS';
	src: url('fonts/NPSfont_extrabold.ttf') format('truetype');
	font-weight:900;
}

/* The Basics */
*{
	margin:0;
	padding:0;
}
html{
	width:100%;
	height:100%;
}
body{
	width:100%;
	height:100%;
	font-family:NPS;
}

.fullsize{
	position:absolute;
	top:0;bottom:0;left:0;right:0;
}
canvas{
	display:block;
	pointer-events:none;
}
#whole-screen-div{
  overflow:hidden;
}
#intro-content-container{
	max-width:1000px;
	width:calc(100% - 128px);
	margin-left:auto;
	margin-right:auto;
	position:relative;
	display:flex;
	flex-direction:column;
	transition-property: backdrop-filter, background-color, box-shadow;
	transition-duration:0.5s;
	
}
#intro-content-container.activated{
  backdrop-filter: blur(3px);
  background-color:#FFFFFF20;
  box-shadow:0 0 10px #FFFFFF40;
}
#content-scroller{
	position:absolute;
	bottom:0;
    right:0;
    left:0;
    top:0;
    z-index:10;
	overflow:scroll;
}
#initial-screen-spacer{
  height:120vh;
}
#screen-blanker{
  height:60vh;
}
#afterscroll-content-container{
  min-height:100vh;
  align-self:stretch;
  display:flex;
  flex-direction:column;
  filter:brightness(50%);
  transition-property: filter;
  transition-duration:0.5s;
  padding-left:64px;
  padding-right:64px;
  position:relative;
}
#afterscroll-content-container.activated{
  filter:none;
}

#sticky-container{
  position:sticky;
  top:0;
}
#intro-content-scrollable{
  position:absolute;
  bottom:0;
  right:0;
  left:0;
  top:0;
  z-index:5;
}
#mpn-logo-spacer{
  align-self:flex-start;
  padding:6vh;
}
#mpn_logo_container{
  width:50vw;
  height:40vh;
  position:relative;
}
#mpn_logo_container > img{
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  object-fit:contain;
}
#hmr-image-container{
  width:60vw;
  height:min(40vw,50vh);
  position:absolute;
  right:0;
  bottom:0;
  z-index:20;
  pointer-events:none;
}
#hmr-image-container > img{
  position:absolute;
  max-width:100%;
  max-height:100%;
  bottom:0;
  right:0;
}
#sky-bg{
background: linear-gradient(0deg,#101050,#303070)
}
#container-ground{
  pointer-events:none;
  position:absolute;
  left:0;
  right:0;
  height:50vh;
  bottom:-50vh;
}
#container-stars{
  position:absolute;
  left:0;
  right:0;
  height:calc(100vh + 200px);
  top:0;
}
#sidebar-positioner{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  width:100%;
  height:100%;
}
#sidebar{
  border:3px solid #d3bf84; 
  /*background-color:#fcedb6;*/
  /*margin-left:-160px;*/
  width:100px;
  /*height:min(512px,calc(100vh - 64px));*/
  max-height:calc(100vh - 64px);
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:8px;
  filter:drop-shadow(8px 8px 10px #00000080);
  
  padding-left:16px;
  padding-right:24px;
  padding-top:40px;
  padding-bottom:40px;
  border-image-source: url("MPN2-Prototype-Image-Scroll.png");
  border-image-width:60px;
  border-image-outset:0px;
  border-image-slice: 550 445 445 420 fill;
  
  overflow:hidden;
  
  display:flex;
}
#sidebar.rolled-up{
  max-height:0;
}
#sidebar > a{
  text-align:center;
  text-decoration:none;
  font-weight:700;
  color:#644a20;
}
#ticket{
  /*border:5px solid #b37c0f; 
  background-color:#fcdd41;*/
  background-image : url("MPN2-Prototype-Image-Ticket.png");
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
  width:160px;
  height:100px;
  font-size:24px;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:32px;
  margin-top:64px;
  transition-property: transform margin-bottom;
  transition-duration:0.5s;
  transition-timing-function: ease-in-out;
  transform:rotate(10deg);
  filter:drop-shadow(8px 8px 10px #00000080);
}
#ticket:hover{
  transform:rotate(0deg);
  filter:drop-shadow(0 0 8px #ffff85);
}
#letter-magic-spritesheet-animation{
  width:100%;
  height:100%;
  background-image:url("MPN2-Prototype-Image-LetterMagicSpSht.png");
}
#sidebar-animation-container{
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
  z-index:2;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:flex-start;
}
#langswitch-positioner{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  align-items:flex-start
}
#lang-btn{
  background-color:#FFF;
  color:#000;
  font-weight:700;
  font-size:16px;
  margin:12px;
  padding:8px;
  border-radius:8px;
  cursor:pointer;
  opacity:0;
  transition: all 1s;
}
#lang-btn.activated{
  opacity:1.0;
}

#afterscroll-content-container > div{
	position:absolute;
	top:0;
	left:0;
	right:0;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:flex-start;
	padding:32px;
}
