
/* Load fonts: NPS font */
@font-face{
	font-family: 'NPS';
	src: url('fonts/NPSfont_regular.ttf') format('truetype');
	font-weight:400;
}
@font-face{
	font-family: 'NPS';
	src: url('fonts/NPSfont_bold.ttf') format('truetype');
	font-weight:700;
}
@font-face{
	font-family: 'NPS';
	src: url('fonts/NPSfont_extrabold.ttf') format('truetype');
	font-weight:900;
}

/* Color templates */
:root{
  /* Directly copied from the color guide */
  --template-malang-PP:#FF91DB;
  --template-malang-FS:#F7E38F;
  --template-malang-RD:#70BCFF;
  --template-malang-AJ:#F5B96E;
  --template-malang-TS:#AD8CD9;
  --template-malang-TWI:#765C99;
  --template-malang-bg:#DBD8E9;
  --template-malang-text:#2F4575;
  --template-malang-outline:#FFFFFF;
  
  --template-hanmari-red:#C7303E;
  --template-hanmari-orange:#F19246;
  --template-hanmari-yellow:#FCC665;
  --template-hanmari-green:#41B46D;
  --template-hanmari-blue:#6683D0;
  --template-hanmari-violet:#514061;
  --template-hanmari-outline:#FFFFFF;
  
  /* Copied from refsheet */
  --character-hanmari-mane-red:#da183a;
  --character-hanmari-mane-orange:#ff8c2e;
  --character-hanmari-mane-blue:#6086d7;
  --character-hanmari-mane-green:#00b765;
  --character-hanmari-mane-lime:#c3cd22;
  --character-hanmari-mane-black:#363437;
  --character-hanmari-body:#fff6e2;
  --character-hanmari-eye-magenta:#ab2367;
  --character-hanmari-eye-pink:#ffb5c3;
  
  --character-leebyeori-mane-green:#bec427;
  --character-leebyeori-mane-gold:#af9623;
  --character-leebyeori-mane-brown:#aa6322;
  --character-leebyeori-body:#fec746;
  --character-leebyeori-magic:#faf67a;
  --character-leebyeori-eye:#fdc45a;
  
  /* Text colors*/
  /* Note: The dark/light refers to the lightness of the text. */
  /* Therefore, in LIGHT mode, the DARK text color should be used. */
  /* And in DARK mode, the LIGHT text color should be used. */
  --color-text-dark: var(--template-malang-text);
  --color-text-light: var(--template-malang-bg);
  --color-text-auto: light-dark(var(--color-text-dark),var(--color-text-light));
  --color-text-reversed: light-dark(var(--color-text-light),var(--color-text-dark));
  
  --color-sidebar-text-normal:#644a20;
  --color-sidebar-text-selected:var(--template-malang-text);
  --color-sidebar-text-hover:#101010;
  
  /* Background */
  --color-background-light: #F0F0F0;
  --color-background-dark: #202020;
  --color-background-default:light-dark(
    var(--color-background-light),var(--color-background-dark));
  
  --color-main-backdrop:light-dark(
    hsl(from var(--template-malang-bg) h s l / 60%),
    hsl(0deg 0% 0% / 40%));
  /* Below value is used then backdrop-filter is disabled. */
  /* To retain visibility, the alpha should be increased. */
  --color-main-backdrop-noblur:light-dark(
    hsl(from var(--template-malang-bg) h s l / 85%),
    hsl(0deg 0% 0% / 80%));
  
  /* Borders */
  --color-embed-border-light: #FFFFFF;
  --color-embed-border-dark: var(--template-malang-TS);
  --color-embed-border-auto: light-dark(
    var(--color-embed-border-light),
    var(--color-embed-border-dark));
  
  --color-embed-glow-light: #FFFFFF;
  --color-embed-glow-dark: var(--template-malang-TS);
  --color-embed-glow-auto: light-dark(
    var(--color-embed-glow-light),
    var(--color-embed-glow-dark));
  
  /* Effects */
  --color-main-backdrop-shadow:light-dark(
    hsl(from var(--template-malang-bg) h s l / 80%),
    hsl(0deg 0% 0% / 80%));
  
  /* Page specific: News */
  --color-bluesky-backdrop: var(--color-background-default);
  --color-bluesky-text: var(--color-text-auto);
  
  /* Buttons */
  --color-button-bg: var(--color-background-default);
  --color-button-text: var(--color-text-auto);
  
  /* External Brands */
  /* All colors were chosen arbitrarily if not commented otherwise. */
  
  /* Official #03CF5D */
  --color-background-naver:#cbf9d7;
  --color-text-naver: #03CF5D; /* = Official */
  
  /* Official #FFCD00 */
  --color-background-kakao:#f4dd80;
  --color-text-kakao: #a2881f;
  
  /* Official #4285F4 */
  --color-background-google:#b9ddff;
  --color-text-google:#1a63c2;
  
  /* Seoul Subway Line 5 */
  --color-background-line5: #d6c4dd;
  --color-text-line5: #8B50A4;
  --color-route-line5: var(--color-text-line5);
  
  /* Seoul Subway Line 2 */
  --color-background-line2:#dcf9df;
  --color-text-line2:#33A23D;
  --color-route-line2: var(--color-text-line2);
  
  /* Seoul Blue bus */
  --color-background-bluebus:#d8dbff;
  --color-text-bluebus:#363db6;
  --color-route-bluebus: var(--color-text-bluebus);
  
  /* Yes, they actually use #000 (Official) */
  --color-background-twitter:#000000;
  
  /* Bsky doesn't have an official brand guideline,
   * but they seem to be using #006AFF on their site. */
  --color-background-bluesky:#006AFF;
  
  /* Discord::Dark (Official) */
  --color-background-discord:#1f1f1f;
  
}

/* The Basics */
*{
	margin:0;
	padding:0;
    box-sizing: border-box;
}
html{
	width:100%;
	height:100%;
    /* This makes Korean text break at word boundaries. */
    word-break: keep-all;
}
body{
	width:100%;
	height:100%;
	font-family:NPS;
    font-size:16px;
    color:var(--color-text-auto);
}

/* Full-screen canvas */
.fullsize{
	position:absolute;
	top:0;
    bottom:0;
    left:0;
    right:0;
}
canvas{
	display:block;
	pointer-events:none;
}

/* This is the topmost element that covers the entire screen. */
#whole-screen-div{
  overflow:hidden;
}

/* contains blanker and afterscroll */
#main-content-backdrop{
	max-width:1000px;
	width:calc(100% - 128px);
	margin-left:auto;
	margin-right:auto;
	position:relative;
	display:flex;
	flex-direction:column;
	transition-property: backdrop-filter, background-color, box-shadow;
	transition-duration:0.5s;
}

/* Is box-shadow performance-intensive? idk */
#main-content-backdrop.activated{
  /*background-image: linear-gradient(
    to right,
    hsl(from var(--color-main-backdrop) h s l / 0%) 0%,
    var(--color-main-backdrop) 2% 98%,
    hsl(from var(--color-main-backdrop) h s l / 0%) 100%);*/
  background-color:var(--color-main-backdrop);
  box-shadow:0 0 10px var(--color-main-backdrop-shadow);
}
#main-content-backdrop.css-filters{
  
}
/* If CSS filter enabled - use blur() */
#main-content-backdrop.activated.css-filters{
  backdrop-filter: blur(3px);
}
/* If CSS filter disabled - just darken the background more. */
#main-content-backdrop.activated:not(.css-filters){
  background-color:var(--color-main-backdrop-noblur);
}

/* Contains all scrollable content. */
#content-scroller{
	position:absolute;
	bottom:0;
    right:0;
    left:0;
    top:0;
    z-index:10;
	overflow-y:scroll;
	overflow-x:hidden;
}

/* Make sure afterscroll content is not visible at the start */
#screen-blanker{
  height:100lvh;
}

/* Actual content after scrolling. */
#pages-container{
  min-height:100svh;
  align-self:stretch;
  display:flex;
  flex-direction:column;
  filter:brightness(30%);
  transition-property: filter;
  transition-duration:0.5s;
  padding-left:64px;
  padding-right:64px;
  position:relative;
}
#pages-container.activated{
  filter:none;
}

/* MalangPony logo positioning */
#mpn-logo-spacer{
  position:absolute;
  top:6lvmin;
  left:0;
  right:0;
}
#mpn_logo_container{
  margin-left:auto;
  margin-right:auto;
  width:min(100lvh,80vw);
  height:min(50lvh,40vw);
  position:relative;
}
#mpn_logo_container > img{
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  object-fit:contain;
}

/* Sky color */
#sky-bg{
  background: linear-gradient(0deg,#181365,#4f3773,#6d4c79);
}

/* Debug panel */
#debug-print-area{
  z-index:99;
  background-color:#00000040;
  color:#88FF8880;
  position:absolute;
  bottom:0;
  left:0;
  width:160px;
  font-size:10px;
  font-family:monospace;
  font-weight:700;
  padding:4px;
  display:flex;
  flex-direction:column-reverse;
}
#debug-features-buttons{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  margin-top:2px;
}
#debug-features-buttons > div{
  width:60px;
  text-align:center;
  background:#00000040;
  pointer-events:auto;
  cursor:pointer;
  user-select:none;
  font-size:1.3em;
}
#debug-button-feature-auto{
  text-align:center;
  background:#00000040;
  pointer-events:auto;
  cursor:pointer;
  user-select:none;
  font-size:1.3em;
}

/* Hanmari in the bottom right corner. L2D or image. */
#l2d-container{
  width:min(40vw,50lvh);
  height:min(40vw,50lvh);
  position:absolute;
  right:0;
  bottom:0;
  z-index:22;
  pointer-events:none;
}
#hmr-image-container{
  width:min(40vw,50lvh);
  height:min(40vw,50lvh);
  position:absolute;
  right:0;
  bottom:0;
  z-index:20;
  pointer-events:none;
}
#hmr-image-container > img{
  position:absolute;
  max-width:100%;
  max-height:100%;
  bottom:0;
  right:0;
}

/* Scroll-inviter */
#scroll-inviter-container{
  position:absolute;
  top:70lvh;
  left:0;
  right:0;
  display:flex;
  flex-direction:row;
  justify-content:center;
}
@keyframes scroll-inviter-anim{
  from{
    margin-top:0px;
    opacity:0.5;
  }
  to{
    margin-top:24px;
    opacity:0.8;
  }
  
}
#scroll-inviter{
  animation-name:scroll-inviter-anim;
  animation-direction:alternate;
  animation-duration:1.5s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
  
  color:var(--color-text-light);
  font-weight:700;
  
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  gap:8px;
}
.si-text{
  font-size:1.5em;
  margin-top:-0.7em;
}
.si-arrow{
  font-size:4em;
  opacity:0.8;
}

/* Email popup */
#email-popup{
  z-index:30;
  pointer-events:auto;
  justify-content:center;
  align-items:center;
  background-color:#000000A0;
}
#email-display-body{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width:240px;
  height:120px;
  background-color:var(--color-background-light);
  color:var(--color-text-dark);
  text-align:center;
  gap:16px;
}

/* Sidebar positioning & animation*/
#sidebar-positioner{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  width:100%;
  height:100%;
  margin-left:max(8px,calc((100vw - 1000px) / 2 - 60px));
  position:relative;
}
#sidebar-animation-container{
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
  z-index:2;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:flex-start;
}
#sidebar-intro-anim{
  width:320px; 
  height:320px; 
  margin-left:-80px; 
}
#letter-magic-spritesheet-animation{
  width:100%;
  height:100%;
  background-image:url("sprites-prototype/MPN2-Prototype-Image-LetterMagicSpSht.png");
}

/* The actual sidebar*/
#sidebar{
  /*border:3px solid #d3bf84; */
  
  max-height:calc(100dvh - 64px);
  
  border-image-source: url("sprites-prototype/MPN2-Prototype-Image-Scroll.png");
  border-image-width:60px;
  border-image-outset:0px;
  border-image-slice: 550 445 445 420 fill;
  
  position:relative;
}
.langmode-en #sidebar{
  width:16em;
}
.langmode-ko #sidebar{
  width:12em;
}
#sidebar.css-filters{
  filter:drop-shadow(8px 8px 10px #00000080);
}
#sb-close-button-container{
  position:absolute;
  top: 8px;
  right:32px;
  width:80px;
  height:80px;
  z-index:+3;
  cursor:pointer;
}
#sb-close-button{
  position:absolute;
  top: 8px;
  right:8px;
  bottom: 8px;
  left:8px;
}

#sidebar-content{
  overflow:hidden;
  
  
  /* The reason why we use both margins and padings 
   * is because overflow cut-off is only affected by the margin box.
   * by mixing and matching margins and paddings, we can position the element
   * and the cut-off. */
  margin-top:24px;
  margin-left:24px;
  margin-bottom:32px;
  
  padding-top:16px;
  padding-bottom:16px;
  
  flex-shrink:0;
  width:calc( 100% + 40px );
  
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:flex-start;
  text-align:left;
  
  color:var(--color-sidebar-text-normal);
  
  gap:0.6em;
}

.langmode-ko .sb-divider{
  width:8em;
}
.langmode-en .sb-divider{
  width:12em;
}
.sb-divider{
  
  background-image: linear-gradient(
    to right,
    hsl(from var(--color-sidebar-text-normal) h s l / 0%) 0%,
    var(--color-sidebar-text-normal) 10% 60%,
    hsl(from var(--color-sidebar-text-normal) h s l / 0%) 100%);
  height:2px;
}
.sb-category-container{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  
}

.sb-entry{
  
}
.sb-entry:hover{
  color:var(--color-sidebar-text-hover);
}
.sb-link::after{
  content:"";
  display:inline-block;
  /*max-height:0.8em;*/
  height:1.0em;
  width:3.6em;

  transition-property: opacity, margin;
  transition-duration:0.5s;
  opacity:0;
  margin-left:-10px;
  
  background-repeat:no-repeat;
  background-size:contain;
  background-image: url("/sprites/FiM_S8E01_11m24s_EDIT01_Fill-644A20+HFlip+ResizeX128.png");
  
  /*background-image: linear-gradient(black, white);*/
  /*background-color:#F0F;*/
}
.sb-link:not(.sb-link-disabled):not(.sb-link-selected):hover::after{
  margin-left:4px;
  opacity:1.0;
}
.sb-link.sb-link-selected::after{
  background-image: url("/sprites/FiM_S8E01_11m24s_EDIT01_HFlip+ResizeX128.png");
  opacity:1.0;
  margin-left:4px;
}

.sb-category-container .sb-category-header::after{
  display:inline-block;
  height:1.0em;
  width:3.6em;
  transition-property: opacity;
  transition-duration:0.5s;
  opacity:0;
}
.sb-category-container .sb-category-header:hover::after{
  opacity:1;
}
.sb-category-container.sbcc-expanded .sb-category-header::after{
  content:".";
}
.sb-category-container:not(.sbcc-expanded) .sb-category-header::after{
  content:"...";
}

.sb-category-header{
  text-wrap:nowrap;
  font-size:1.2em;
  font-weight:700;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-items:center;
  cursor:pointer;
}
.sbch-icon{
  font-size:0.7em;
  width:1.2em;
  text-align:center;
}
.sb-category-content{
  margin-left:1.4em;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  transition-property:gap margin;
  transition-duration:0.5s;
  transition-timing-function: cubic-bezier(0, 0.6, 0.4, 1);
  
  margin-top:0;
  margin-bottom:0;
  gap:0;
}
.sbcc-expanded .sb-category-content{
  margin-top:0.5em;
  margin-bottom:-0.2em;
  gap:0.3em;
}
.sb-link{
  text-wrap:nowrap;
  text-align:left;
  font-weight:700;
  cursor:pointer;
}
.sb-link-toplevel{
  font-size:1.2em;
}
.sb-link-sublevel{
  font-size:1.1em;
  transition-property:height;
  transition-duration:0.5s;
  transition-timing-function: cubic-bezier(0, 0.6, 0.4, 1);
  overflow-y:hidden;
  height:0px;
}
.sbcc-expanded .sb-category-content .sb-link-sublevel{
  height:1.4em;
}
.sb-link-active{
}
.sb-link-disabled{
  opacity:0.3;
  cursor:unset;
}
.sb-link-selected{
  color:var(--color-sidebar-text-selected);
}


/* Buttons on top right */
#switch-positioner{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-end;
  gap:8px;
  margin-top:16px;
  margin-right:16px;
}
/* the buttons */
#switch-positioner > div{
  font-weight:700;
  font-size:1.0em;
  padding:8px;
  border-radius:8px;
  cursor:pointer;
  opacity:0;
  transition: all 1s;
}
#switch-positioner > div.activated{
  opacity:1.0;
}
#langswitch-btn{
  background-color:var(--color-button-bg);
  color:var(--color-button-text);
}
#themeswitch-btn{
  /* Follows the opposite theme. */
  background-color:light-dark(var(--color-background-dark),var(--color-background-light));
  color:light-dark(var(--color-text-light),var(--color-text-dark));
}


/* Mobile sidebar button */
#sb-button-positioner{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:flex-start;
}
#sb-btn{
  margin:16px;
  width:96px;
  height:96px;
  cursor:pointer;
  object-fit: contain;
  pointer-events:auto;
}

/* Timetable content */
/* To ensure scalability, all length units should be in em. */
#ttable-positioner{
  font-size:min(1.5vw,16px);
}
#ttable-container{
}
.timetable-dom-root{
  /* Set dynamically at timetable.js: 
   * position, width, height */
}
.timetable-block-body{
  /* Set dynamically at timetable.js: 
   * z-index, top, left, height, width, filter, cursor, 
   * border-radius, background-image, background-color */
  position:absolute;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  
  transition-property:top,left,width,height,filter;
  transition-duration:0.5s, 0.5s, 0.5s, 0.5s, 0.2s;
  transition-timing-function:ease-in-out,ease-in-out,ease-in-out,ease-in-out,linear;
  
  overflow:hidden;
  
  text-align:center;
  
  color:var(--color-text-dark);
}

.timetable-block-body.timetable-block-mouseover{

}

.timetable-block-close-button{
  transition-property: opacity;
  transition-duration:0.5s;
  transition-timing-function: ease-in-out;
  /* FF doesn't support this apperantly
  transition-behavior: allow-discrete; 
  display:block;*/
  opacity:1.0;
  cursor:pointer;
  position: absolute;
  top: 0;
  right:0;
  width:2em;
  height:2em;
  z-index:1;
}
.timetable-block-close-svg{
  position:absolute;
  top:0.15em;
  left:0.15em;
  right:0.15em;
  bottom:0.15em;
}

.timetable-block-close-button.hidden{
  opacity:0.0;
  pointer-events:none;
}

.timetable-block-outline{
  /* Set dynamically at timetable.js: 
   * z-index, top, left, height, widht, opacity,
   *  border-radius, border-color */
  position:absolute;
  transition-property:opacity;
  transition-duration:0.5s;
  transition-timing-function:ease-in-out;
  border-style:solid;
  border-width:0.25em;
}

.timetable-block-text{
  /* Set dynamically at timetable.js: 
   * font-size */
  transition-property:transform;
  transition-duration:0.5s;
  transition-timing-function:ease-in-out;
  text-align:center;
}
.timetable-block-vertical .timetable-block-text{
  width:15em;
}
.timetable-block-vertical:not(.timetable-block-mouseover) .timetable-block-text {
  transform:rotate(90deg);
}

.timetable-block-description-container{
  opacity:0.0;
  transition-property:opacity, max-height;
  transition-duration:0.5s;
  transition-timing-function:ease-in-out;
  max-height:0;
  overflow:hidden;
}

.timetable-block-body.timetable-block-mouseover .timetable-block-description-container{
  opacity:1.0;
  max-height:4em;
}

.timetable-block-description-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.timetable-desc-time{
  margin-top:0.2em;
  font-size:0.6em;
}
.timetable-desc-text{
  margin-top:0.1em;
  font-size:0.8em;
  font-weight:400;
}

.timetable-tick-line{
  /* Set dynamically at timetable.js: 
   * top, left, height, width, border-bottom-width */
  z-index:5;
  position:absolute;
  border-bottom-color:hsl(from var(--color-text-auto) h s l / 50%);
  border-bottom-style:solid;
}
.timetable-tick-text{
  /* Set dynamically at timetable.js: 
   * left, right */
  position:absolute;
  bottom:0;
  z-index:6;
  font-size:0.8em;
  font-weight:900;
}

.timetable-cgroup-outline{
  /* Set dynamically at timetable.js: 
   * left, width, height, background */
  position:absolute;
  top:0;
  border-radius:0.5em;
  z-index:50;
}
.timetable-cgroup-label{
  /* Set dynamically at timetable.js: 
   *  */
  position:absolute;
  left:0;
  right:0;
  top:0;
  font-size:1.5em;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  gap:0.2em;
}
.timetable-cgroup-label-line2{
  font-size:0.8em;
}

#timetable-mobile-move-button{
  /*display:flex;*/
  display:none;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  
}
#timetable-mobile-move-button > div{
  color:#FFFFFF;
  padding:16px;
  cursor:pointer;
  pointer-events:auto;
  text-shadow: 0 0 10px #00000080;
  font-size:64px;
}

/* Footer */
#footer-divider{
  margin-top:32px;
  margin-bottom:16px;
  margin-left:64px;
  margin-right:64px;
  width:100%;
  height:2px;
  opacity:0.5;
  background-image: linear-gradient(
    to right,
    hsl(from var(--color-text-auto) h s l / 0%) 0%,
    var(--color-text-auto) 10% 90%,
    hsl(from var(--color-text-auto) h s l / 0%) 100%)
}
#footer-content{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  margin-bottom:16px;
  gap:8px;
}
#footer-text-contact{
  font-weight:700;
}
#footer-sns-buttons{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  gap:8px;
}
#footer-sns-buttons > a{
  border-radius:4px;
  width:42px;
  height:42px;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}
#footer-sns-buttons > a > img{
  display:block; /* inline-block can cause weird spacing issues */
}

#footer-sns-buttons > a{
  background-color:var(--template-malang-text);
}
/*
#footer-sns-button-twitter{
  background-color:var(--color-background-twitter);
}
#footer-sns-button-bluesky{
  background-color:var(--color-background-bluesky);
}
#footer-sns-button-discord{
  background-color:var(--color-background-discord);
}
#footer-sns-button-email{
  background-color:var(--template-malang-TS);
}*/
/*
#footer-sns-button-twitter{
  background-color:var(--template-hanmari-red);
}
#footer-sns-button-bluesky{
  background-color:var(--template-hanmari-orange);
}
#footer-sns-button-discord{
  background-color:var(--template-hanmari-yellow);
}
#footer-sns-button-email{
  background-color:var(--template-hanmari-green);
}*/

/* Every logo has a different visual size, so it is manually matched here.*/
#footer-sns-button-twitter > img{
  width:60%;
  height:60%;
}
#footer-sns-button-bluesky > img{
  width:70%;
  height:70%;
}
#footer-sns-button-discord > img{
  width:70%;
  height:70%;
}
#footer-sns-button-email > img{
  width:75%;
  height:75%;
}

#footer-disclaimer{
  text-align:center;
  font-size:0.8em;
  font-weight:400;
  
}

/* A .linkbutton class for creating a hyperlink button. */
a.linkbutton{
	text-decoration: none;
}
.linkbutton{
	display:block;
	font-weight:bold;
	text-align:center;
	display:flex;
	flex-direction:row;
    justify-content:center;
	align-items:center;
	padding-left:12px;
	padding-right:12px;
	padding-top:4px;
	padding-bottom:4px;
	font-size:1.2em;
	border-radius:8px;
	gap:8px;
	border: 2px solid;
}

/* Border for embeds */
.embed-frame{
  box-shadow: 0 0 16px var(--color-embed-glow-auto);
  border: 2px solid var(--color-embed-border-auto);
  border-radius:16px;
  overflow:hidden;
}

/* Common styles for all page content */
.page-content{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:flex-start;
	margin-top:32px;
    margin-bottom:32px;
    color:var(--color-text-auto);
}

.page-title{
  font-size:3.0em;
  font-weight:700;
  text-align:center;
  margin-top:24px;
  margin-bottom:24px;
}
.page-text-body{
  font-weight:400;
  text-align:left;
  margin-top:32px;
}


/* Page: Intro */
#logo-orig{
  margin-left:64px;
  margin-right:64px;
  max-width:min(600px , 100%);
  align-self:center;
}

#ticket{
  background-image : url("sprites-prototype/MPN2-Prototype-Image-Ticket.png");
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
  width:240px;
  height:160px;
  font-size:1.5em;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:32px;
  margin-top:64px;
  transition-property: transform margin-bottom;
  transition-duration:0.5s;
  transition-timing-function: ease-in-out;
  transform:rotate(10deg);
  pointer-events:auto;
  color:var(--color-text-dark);
}
#ticket:hover{
  transform:rotate(0deg);
}
#ticket.css-filters{
  filter:drop-shadow(8px 8px 10px #00000080);
}
#ticket.css-filters:hover{
  filter:drop-shadow(0 0 8px #ffff85);
}

/* Page: News */
#bsky-outer{
  background-color: var(--color-bluesky-backdrop);
  color:var(--color-bluesky-text);
}

/* Page: Venue */
#venue-place-name-top{
  margin-top:16px;
}
#venue-place-name-title{
  margin-top:8px;
  font-size:32px;
  font-weight:700;
}
#venue-place-address{
  margin-top:8px;
  font-style:italic;
}
#venue-map-site-links{
  margin-top:16px;
  margin-bottom:12px;
  display:flex;
  flex-direction:row;
  gap:8px;
}
#venue-map-link-naver{
  background-color:var(--color-background-naver);
  color:var(--color-text-naver);
}
#venue-map-link-kakao{
  background-color:var(--color-background-kakao);
  color:var(--color-text-kakao);
}
#venue-map-link-google{
  background-color:var(--color-background-google);
  color:var(--color-text-google);
}
#map-outer{
  width:min(600px,100%);
  height:400px;
  position:relative;
}
#kakaomap-content{
  width:100%;height:100%;
}
#map-btn-jump{
  position:absolute;
  top:16px;
  left:16px;
  height:64px;
  background-color:var(--template-malang-TWI);
  color:var(--color-text-light);
  z-index:10;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  gap:8px;
  padding:8px;
  box-shadow:4px 4px 16px #00000080;
  border-radius:8px;
}
#map-btn-jump > img {
  height:48px;
  width:48px;
}
#directions-container{
  width:min(600px,100%);
  margin-top:16px;
  display:flex;
  flex-direction:column;
  gap:8px;
}
.directions-listing{
  height:100px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  gap:4px;
  border-radius: 16px;
  padding:16px;
  background-color:var(--color-background-default);
  color:var(--color-text-dark);
  position:relative;
  line-height:1.4em;
}
.directions-icon{
  position:absolute;
  opacity:0.5;
  top:0;
  right:0;
  max-height:100%;
  
}
.directions-title{
  font-size:1.5em;
  font-weight:700;
}
.directions-body{
  
}
#directions-yangpyong{
  background-color: var(--color-background-line5);
}
#directions-yangpyong .directions-title{
  color: var(--color-text-line5);
}
#directions-munrae{
  background-color: var(--color-background-line2);
}
#directions-munrae .directions-title{
  color: var(--color-text-line2);
}
#directions-bus{
  background-color: var(--color-background-bluebus);
}
#directions-bus .directions-title{
  color: var(--color-text-bluebus);
}

/* Page: Previous */
#page-previous{
  align-items:stretch;
}
#previous-content{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:8px;
}
/* Copied from MPN1 Site */
.centerhead{
	font-size:1.2em;
	margin-top:16px;
	font-style:italic;
	font-weight:700;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	align-self: stretch;
	gap:16px;
}
.centerhead::after{
	content:"";
	height:2px;
	background-color:var(--color-text-auto);
	flex-grow:1;
}
.centerhead::before{
	content:"";
	height:2px;
	background-color:var(--color-text-auto);
	flex-grow:1;
}

.prev-gallery-btn{
  text-decoration: none;
  display:block;
  font-weight:bold;
  text-align:center;
  display:flex;
  flex-direction:row;
  align-items:center;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  padding-left:12px;
  padding-right:12px;
  padding-top:4px;
  padding-bottom:4px;
  font-size:1.2em;
  border-radius:8px;
  gap:8px;
  border: 4px solid;
}
.prev-gallery-btn > img {
	width:32px;
	height:32px;
}
.malang{
	border-color: #2F4575;
	background-color: #2F4575;
	color:#FFF;
}
.malang:hover{
	background-color: #FFF;
	color:#2F4575;
}

.malang_old{
	border-color: #5f4385;
	background-color: #5f4385;
	color:#FFF;
}
.malang_old:hover{
	background-color: #FFF;
	color:#5f4385;
}

#prev-site-links{
  font-size:0.8em; 
  text-align:center; 
  margin-top:24px;
}
#prev-site-links > a{
  color:var(--color-text-auto);
  font-weight:700;
}

/* Page: Mascot */
.icon-dark{
  display:none;
}
.dark-mode .icon-dark{
  display:block;
}
.icon-light{
  display:none;
}
.light-mode .icon-light{
  display:block;
}

#mascot-preamble{
  color:var(--color-text-auto);
  font-size:1.5em;
  margin-top:12px;
  margin-bottom:12px;
}

.hanmari{
  --character-fg:light-dark(
    var(--character-hanmari-mane-black),
    var(--character-hanmari-body));
  --character-bg:light-dark(
    var(--character-hanmari-body),
    var(--character-hanmari-mane-black));
  --character-minimize-bg:var(--character-hanmari-body);
}
.leebyeori{
  --character-fg:light-dark(
    var(--character-leebyeori-mane-brown),
    var(--character-leebyeori-body));
  --character-bg:light-dark(
    var(--character-leebyeori-body),
    var(--character-leebyeori-mane-brown));
  --character-minimize-bg:var(--character-leebyeori-body);
}

#mascot-selector{
  display:flex;
  flex-direction:row-reverse;
}
.mascot-selector-divider{
  width:1px;
  align-self:stretch;
  margin-left:2px;
  margin-right:2px;
  /*background-color:var(--color-text-auto);*/
}

.mascot-container{
  --mascot-container-width:min(80vw,600px);
  display:flex;
  flex-direction:column;
  align-items:center;
  overflow:hidden;
  transition-property: max-height, max-width, background-color,filter;
  transition-duration:1.0s, 1.0s, 1.0s, 0.3s;
  max-width:var(--mascot-container-width);
  max-height:calc(var(--mascot-container-width) * 1.0);
  background-color:transparent;
  position:relative;
}
.mascot-container.isolate{
  max-width:calc(var(--mascot-container-width) * 0.50);
  max-height:calc(var(--mascot-container-width) / 1.556 );
}
.mascot-container.isolate.minimize{
  max-width:50px;
  background-color:var(--character-minimize-bg);
  filter:brightness(0.7);
}
.mascot-container.isolate.minimize:hover{
  filter:none;
}

.refsheet-thumb-isolated{
  filter:none;
  transition-property: filter;
  transition-duration:0.3s;
}
.mascot-container.isolate:hover .refsheet-thumb-isolated{
  filter:drop-shadow(0 0 6px var(--character-minimize-bg));
}

.mascot-content{
  width:var(--mascot-container-width);
  display:flex;
  flex-direction:column;
  align-items:center;
}
.mascot-title{
  display:flex;
  flex-direction:row;
  align-items:flex-end;
  gap:8px;
  margin-top:12px;
  font-size:2.0em;
  font-weight:700;
  color: var(--character-fg);
}
.mascot-title .sublang{
  font-size:0.7em;
}
.mascot-bio{
  color: var(--character-fg);
}

.refsheet-image{
  width:var(--mascot-container-width);
  height: calc(var(--mascot-container-width) / 1.556);
  position:relative;
  /*border: 2px solid var(--character-bg);*/
  transition-property: width, margin;
  transition-duration:1.0s;
  flex-shrink:0;
  flex-grow:0;
}
.hanmari.isolate .refsheet-image{
  /*width:min(40vw,300px);*/
  margin-left:calc(var(--mascot-container-width) * -0.07);
}
.leebyeori.isolate .refsheet-image{
  /*width:min(40vw,300px);*/
  margin-left:calc(var(--mascot-container-width) * 0.10);
}
.hanmari.isolate.minimize .refsheet-image{
  /*width:min(40vw,300px);*/
  margin-left:calc(var(--mascot-container-width) * 0.15);
}
.leebyeori.isolate.minimize .refsheet-image{
  /*width:min(40vw,300px);*/
  margin-left:calc(var(--mascot-container-width) * -0.05);
}
.mascot-label-positioner{
  position:absolute;
  left:-100px;
  right:-100px;
  top:calc(var(--mascot-container-width) * 0.45);
  display:flex;
  align-items:center;
  justify-content:center;
}
.mascot-label{
  opacity:0;
  transition-property: opacity, transform;
  transition-duration:1.0s;
  transform:none;
  pointer-events:none;
  color:#F00;
  z-index:10;
  font-size:24px;
  color: var(--character-fg);
  background-color:var(--character-bg);
  border-radius:4px;
  padding:8px;
}
.isolate .mascot-label{
  opacity:1;
}
.hanmari.minimize .mascot-label{
  transform:rotate(90deg);
}
.leebyeori.minimize .mascot-label{
  transform:rotate(-90deg);
}
.refsheet-image > img{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
}

.refsheet-thumb-full{
  z-index:1;
  opacity:1;
  transition-property: opacity;
  transition-duration:1.0s;
}
.isolate .refsheet-thumb-full{
  opacity:0;
}
.refsheet-thumb-isolated{
  z-index:2;
}
/* Download line */
.refsheet-downloads{
  margin-top:12px;
  margin-bottom:12px;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  gap:8px;
}
/* Download links */
.refsheet-downloads > a{
  display:flex;
  flex-direction:row;
  align-items:center;
  gap:4px;
  
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  
  text-decoration:none;
  border-radius:4px;
  
  background-color:var(--character-fg);
  color:var(--character-bg);
  font-weight:700;
}
.refsheet-downloads > a > img{
  height:1.5em;
  width:1.5em;
}
/* Responsive Section */
/* Targeting down to 300px. */

/* Mobile mode */
@media (width<640px) {
  #sb-btn{
    display:block;
  }
  #sidebar-positioner{
    justify-content:flex-start;
    align-items:flex-start;
  }
  #sidebar-animation-container{
    align-items:flex-start;
  }
  #sidebar-intro-anim{
    width:240px; 
    height:240px; 
    margin-left:-60px; 
    margin-top:-60px;
  }
  
  /* The below rule has two identical ID selectors in order to raise the specificity.
   * This is to override the class+ID selector that was declared above.*/
  #sidebar#sidebar{
    width:calc(100vw - 32px);
    height:calc(100dvh - 32px);
    margin-top:16px;
    margin-left:16px;
  }
  #sidebar-content{
    position:absolute;
    top: 40px;
    bottom: 40px;
    left: 32px;
    right: 32px;
    
    margin:0;
    padding:0;
    
    font-size:1.5em;
    justify-content:space-evenly;
    overflow-y:scroll;
  }
  .sb-link{
    
  }
  .sb-category-header{
    
  }
  #main-content-backdrop{
    width:100%;
  }
  #pages-container{
    padding-left:32px;
    padding-right:32px;
  }
  #l2d-container{
    width:min(70vw,40lvh);
    height:min(70vw,40lvh);
  }
  #hmr-image-container{
    width:min(70vw,40lvh);
    height:min(70vw,40lvh);
  }
  
  #ttable-container{
    transition-property:margin;
    transition-duration:0.5s;
  }
  #ttable-positioner{
    width:100%;
    overflow-x:visible;
    font-size:min(4.0vw,16px);
  }
  
  #timetable-mobile-move-button{
    display:flex;
  }
}

/* Smaller Mobiles */
@media (width<480px) {
}

/* Ridiculously Small Mobiles */
@media (width<360px) {
}

/* Mobile ladder */
/* PC <-640-> Big Mobile <-480-> Small Mobile <-360-> Ridiculous <-300-> I give up */
@media (width>=480px) and (width<640px) {
  /* 640 ~ 480 : Big Mobiles */
  body{
    font-size:20px;
  }
}
@media (width>=360px) and (width<480px) {
  /* 480 ~ 360 : Small Mobiles */
  body{
    font-size:20px;
  }
}
@media (width<360px) {
  /* 360 ~ 300 : Ridiculously Small Mobiles */
  body{
    font-size:16px;
  }
}
