
/* Load fonts: NPS font */
@font-face{
	font-family: 'NPS';
	src: url('fonts/NPSfont_regular.ttf') format('truetype');
	font-weight:400;
}
@font-face{
	font-family: 'NPS';
	src: url('fonts/NPSfont_bold.ttf') format('truetype');
	font-weight:700;
}
@font-face{
	font-family: 'NPS';
	src: url('fonts/NPSfont_extrabold.ttf') format('truetype');
	font-weight:900;
}

/* Color templates */
:root{
  /* Directly copied from the color guide */
  --template-malang-pp:#FF91DB;
  --template-malang-FS:#F7E38F;
  --template-malang-RD:#70BCFF;
  --template-malang-AJ:#F5B96E;
  --template-malang-TS:#AD8CD9;
  --template-malang-TWI:#765C99;
  --template-malang-bg:#DBD8E9;
  --template-malang-text:#2F4575;
  --template-malang-outline:#FFFFFF;
  
  --template-hanmari-red:#C7303E;
  --template-hanmari-orange:#F19246;
  --template-hanmari-yellow:#FCC665;
  --template-hanmari-green:#41B46D;
  --template-hanmari-blue:#6683D0;
  --template-hanmari-violet:#514061;
  --template-hanmari-outline:#FFFFFF;
  
  
  
  /* Text colors*/
  /* Note: The dark/light refers to the lightness of the text. */
  /* Therefore, in LIGHT mode, the DARK text color should be used. */
  /* And in DARK mode, the LIGHT text color should be used. */
  --color-text-dark: var(--template-malang-text);
  --color-text-light: var(--template-malang-bg);
  --color-text-main: light-dark(var(--color-text-dark),var(--color-text-light));
  
  --color-sidebar-text-normal:#644a20;
  --color-sidebar-text-selected:#101010;
  
  /* Background */
  --color-background-light: #F0F0F0;
  --color-background-dark: #202020;
  --color-background-default:light-dark(
    var(--color-background-light),var(--color-background-dark));
  
  --color-main-backdrop:light-dark(
    hsl(from var(--template-malang-bg) h s l / 50%),
    hsl(0deg 0% 0% / 40%));
  --color-main-backdrop-noblur:light-dark(
    hsl(from var(--template-malang-bg) h s l / 40%),
    hsl(0deg 0% 0% / 30%));
  
  /* Page specific: News */
  --color-bluesky-backdrop: var(--color-background-default);
  --color-bluesky-text: var(--color-text-main);
  
  /* Effects */
  --color-main-backdrop-shadow:light-dark(
    hsl(from var(--template-malang-bg) h s l / 80%),
    hsl(0deg 0% 0% / 80%),);
  
  /* Buttons */
  --color-button-bg: var(--color-background-default);
  --color-button-text: var(--color-text-main);
  
  /* External Brands */
  /* All colors were chosen arbitrarily if not commented otherwise. */
  
  /* Official #03CF5D */
  --color-background-naver:#cbf9d7;
  --color-text-naver: #03CF5D; /* = Official */
  
  /* Official #FFCD00 */
  --color-background-kakao:#f4dd80;
  --color-text-kakao: #a2881f;
  
  /* Official #4285F4 */
  --color-background-google:#b9ddff;
  --color-text-google:#1a63c2;
  
  /* Seoul Subway Line 5 */
  --color-background-line5: #d6c4dd;
  --color-text-line5: #8B50A4;
  
  /* Seoul Subway Line 2 */
  --color-background-line2:#dcf9df;
  --color-text-line2:#33A23D;
  
  /* Seoul Blue bus */
  --color-background-bluebus:#d8dbff;
  --color-text-bluebus:#363db6;
  
}

/* The Basics */
*{
	margin:0;
	padding:0;
    box-sizing: border-box;
}
html{
	width:100%;
	height:100%;
    /* This makes Korean text break at word boundaries. */
    word-break: keep-all;
}
body{
	width:100%;
	height:100%;
	font-family:NPS;
    font-size:16px;
    color:var(--color-text-main);
}

/* Full-screen canvas */
.fullsize{
	position:absolute;
	top:0;
    bottom:0;
    left:0;
    right:0;
}
canvas{
	display:block;
	pointer-events:none;
}

/* This is the topmost element that covers the entire screen. */
#whole-screen-div{
  overflow:hidden;
}

/* contains blanker and afterscroll */
#main-content-backdrop{
	max-width:1000px;
	width:calc(100% - 128px);
	margin-left:auto;
	margin-right:auto;
	position:relative;
	display:flex;
	flex-direction:column;
	transition-property: backdrop-filter, background-color, box-shadow;
	transition-duration:0.5s;
}

/* Is box-shadow performance-intensive? idk */
#main-content-backdrop.activated{
  background-color:var(--color-main-backdrop);
  box-shadow:0 0 10px var(--color-main-backdrop-shadow);
}
#main-content-backdrop.css-filters{
  
}
/* If CSS filter enabled - use blur() */
#main-content-backdrop.activated.css-filters{
  backdrop-filter: blur(3px);
}
/* If CSS filter disabled - just darken the background more. */
#main-content-backdrop.activated:not(.css-filters){
  background-color:var(--color-main-backdrop-noblur);
}

/* Contains all scrollable content. */
#content-scroller{
	position:absolute;
	bottom:0;
    right:0;
    left:0;
    top:0;
    z-index:10;
	overflow-y:scroll;
	overflow-x:hidden;
}

/* Make sure afterscroll content is not visible at the start */
#screen-blanker{
  height:100lvh;
}

/* Actual content after scrolling. */
#pages-container{
  min-height:100svh;
  align-self:stretch;
  display:flex;
  flex-direction:column;
  filter:brightness(30%);
  transition-property: filter;
  transition-duration:0.5s;
  padding-left:64px;
  padding-right:64px;
  position:relative;
}
#pages-container.activated{
  filter:none;
}

/* MalangPony logo positioning */
#mpn-logo-spacer{
  position:absolute;
  top:6lvmin;
  left:0;
  right:0;
}
#mpn_logo_container{
  margin-left:auto;
  margin-right:auto;
  width:min(100lvh,80vw);
  height:min(50lvh,40vw);
  position:relative;
}
#mpn_logo_container > img{
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  object-fit:contain;
}

/* Sky color */
#sky-bg{
  background: linear-gradient(0deg,#181365,#4f3773,#6d4c79);
}

/* Debug panel */
#debug-print-area{
  z-index:99;
  background-color:#00000040;
  color:#88FF8880;
  position:absolute;
  bottom:0;
  left:0;
  width:160px;
  font-size:10px;
  font-family:monospace;
  font-weight:700;
  padding:4px;
  display:flex;
  flex-direction:column-reverse;
}
#debug-features-buttons{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  margin-top:2px;
}
#debug-features-buttons > div{
  width:60px;
  text-align:center;
  background:#00000040;
  pointer-events:auto;
  cursor:pointer;
  user-select:none;
  font-size:1.3em;
}
#debug-button-feature-auto{
  text-align:center;
  background:#00000040;
  pointer-events:auto;
  cursor:pointer;
  user-select:none;
  font-size:1.3em;
}

/* Hanmari in the bottom right corner. L2D or image. */
#l2d-container{
  width:min(40vw,50lvh);
  height:min(40vw,50lvh);
  position:absolute;
  right:0;
  bottom:0;
  z-index:22;
  pointer-events:none;
}
#hmr-image-container{
  width:min(40vw,50lvh);
  height:min(40vw,50lvh);
  position:absolute;
  right:0;
  bottom:0;
  z-index:20;
  pointer-events:none;
}
#hmr-image-container > img{
  position:absolute;
  max-width:100%;
  max-height:100%;
  bottom:0;
  right:0;
}

/* Scroll-inviter */
#scroll-inviter-container{
  position:absolute;
  top:70lvh;
  left:0;
  right:0;
  display:flex;
  flex-direction:row;
  justify-content:center;
}
@keyframes scroll-inviter-anim{
  from{
    margin-top:0px;
    opacity:0.4;
  }
  to{
    margin-top:24px;
    opacity:0.5;
  }
  
}
#scroll-inviter{
  animation-name:scroll-inviter-anim;
  animation-direction:alternate;
  animation-duration:1.5s;
  animation-iteration-count:infinite;
  animation-timing-function: ease-in-out;
  
  color:var(--color-text-light);
  font-weight:700;
  
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  gap:8px;
}

/* Sidebar positioning & animation*/
#sidebar-positioner{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  width:100%;
  height:100%;
  margin-left:max(8px,calc((100vw - 1000px) / 2 - 60px));
  position:relative;
}
#sidebar-animation-container{
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
  z-index:2;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:flex-start;
}
#sidebar-intro-anim{
  width:320px; 
  height:320px; 
  margin-left:-80px; 
}
#letter-magic-spritesheet-animation{
  width:100%;
  height:100%;
  background-image:url("sprites-prototype/MPN2-Prototype-Image-LetterMagicSpSht.png");
}

/* The actual sidebar*/
#sidebar{
  /*border:3px solid #d3bf84; */
  
  max-height:calc(100dvh - 64px);
  
  border-image-source: url("sprites-prototype/MPN2-Prototype-Image-Scroll.png");
  border-image-width:60px;
  border-image-outset:0px;
  border-image-slice: 550 445 445 420 fill;
  
  position:relative;
}
.langmode-en #sidebar{
  width:240px;
}
.langmode-ko #sidebar{
  width:190px;
}
#sidebar.css-filters{
  filter:drop-shadow(8px 8px 10px #00000080);
}
#sb-close-button-container{
  position:absolute;
  top: 8px;
  right:32px;
  width:80px;
  height:80px;
  z-index:+3;
  cursor:pointer;
}
#sb-close-button{
  position:absolute;
  top: 8px;
  right:8px;
  bottom: 8px;
  left:8px;
}

#sidebar-content{
  overflow-x:hidden;
  overflow-y:hidden;
  
  margin-left:24px;
  /* The reason why we use both margins and padings 
   * is because overflow cut-off is only affected by the margin box.
   * by mixing and matching margins and paddings, we can position the element
   * and the cut-off. */
  margin-top:24px;
  padding-top:16px;
  margin-right:24px;
  margin-bottom:32px;
  padding-bottom:8px;
  
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:flex-start;
  text-align:left;
  gap:8px;
  
  color:var(--color-sidebar-text-normal);
}
.sb-category-container{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
}
.sb-category-header{
  text-wrap:nowrap;
  font-size:1.1em;
  font-weight:700;
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  align-items:center;
  cursor:pointer;
}
.sbch-icon{
  font-size:0.7em;
  width:1.2em;
  text-align:center;
}
.sb-category-content{
  margin-left:1.4em;
  margin-top:0.2em;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
}
.sb-category-content.sbcc-expanded{

}
.sb-link{
  text-wrap:nowrap;
  text-align:left;
  font-weight:700;
  cursor:pointer;
  font-size:1.0em;
}
.sb-link-toplevel{
  font-size:1.1em;
}
.sb-link-sublevel{
  font-size:1.0em;
  transition-duration:0.5s;
  transition-timing-function: cubic-bezier(0, 0.6, 0.4, 1);
  overflow-y:hidden;
  transition-property:height;
  height:0px;
}
.sb-category-content.sbcc-expanded .sb-link-sublevel{
  height:1.4em;
}
.sb-link-active{
}
.sb-link-disabled{
  opacity:0.3;
  cursor:unset;
}
.sb-link-selected{
  color:var(--color-sidebar-text-selected);
}


/* Buttons on top right */
#switch-positioner{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-end;
  gap:8px;
  margin-top:16px;
  margin-right:16px;
}
/* the buttons */
#switch-positioner > div{
  font-weight:700;
  font-size:1.0em;
  padding:8px;
  border-radius:8px;
  cursor:pointer;
  opacity:0;
  transition: all 1s;
}
#switch-positioner > div.activated{
  opacity:1.0;
}
#langswitch-btn{
  background-color:var(--color-button-bg);
  color:var(--color-button-text);
}
#themeswitch-btn{
  /* Follows the opposite theme. */
  background-color:light-dark(var(--color-background-dark),var(--color-background-light));
  color:light-dark(var(--color-text-light),var(--color-text-dark));
}


/* Mobile sidebar button */
#sb-button-positioner{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:flex-start;
}
#sb-btn{
  margin:16px;
  width:96px;
  height:96px;
  cursor:pointer;
  object-fit: contain;
  pointer-events:auto;
}

/* Timetable content */
#ttable-container{
  font-size:min(1.5vw,16px);
  color:var(--color-text-dark);
}
.timetable-block-body{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  
  transition-property:top,left,width,height,filter;
  transition-duration:0.5s, 0.5s, 0.5s, 0.5s, 0.2s;
  transition-timing-function:ease-in-out,ease-in-out,ease-in-out,ease-in-out,linear;
  
  overflow:hidden;
}

.timetable-block-body.timetable-block-mouseover{

}

.timetable-block-close-button{
  transition-property: opacity;
  transition-duration:0.5s;
  transition-timing-function: ease-in-out;
  /* FF doesn't support this apperantly
  transition-behavior: allow-discrete; 
  display:block;*/
  opacity:1.0;
  cursor:pointer;
}

.timetable-block-close-button.hidden{
  opacity:0.0;
  pointer-events:none;
}

.timetable-block-outline{
  transition-property:opacity;
  transition-duration:0.5s;
  transition-timing-function:ease-in-out;
}

.timetable-block-text{
  transition-property:transform;
  transition-duration:0.5s;
  transition-timing-function:ease-in-out;
}
.timetable-block-vertical:not(.timetable-block-mouseover) .timetable-block-text {
  transform:rotate(90deg);
  text-align:center;
}

.timetable-block-description-container{
  opacity:0.0;
  transition-property:opacity, max-height;
  transition-duration:0.5s;
  transition-timing-function:ease-in-out;
  max-height:0;
  overflow:hidden;
}

.timetable-block-body.timetable-block-mouseover .timetable-block-description-container{
  opacity:1.0;
  max-height:4em;
}

.timetable-block-description-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.timetable-desc-time{
  margin-top:0.2em;
  font-size:0.6em;
}
.timetable-desc-text{
  margin-top:0.1em;
  font-size:0.8em;
  font-weight:400;
  text-align:center;
}

/* A .linkbutton class for creating a hyperlink button. */
a.linkbutton{
	text-decoration: none;
}
.linkbutton{
	display:block;
	font-weight:bold;
	text-align:center;
	display:flex;
	flex-direction:row;
    justify-content:center;
	align-items:center;
	padding-left:12px;
	padding-right:12px;
	padding-top:4px;
	padding-bottom:4px;
	font-size:1.2em;
	border-radius:8px;
	gap:8px;
	border: 2px solid;
}

/* Common styles for all page content */
.page-content{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:flex-start;
	margin-top:32px;
    margin-bottom:32px;
    color:var(--color-text-main);
}

.page-title{
  font-size:3.0em;
  font-weight:700;
  text-align:center;
  margin-top:24px;
  margin-bottom:24px;
}
.page-text-body{
  font-weight:400;
  text-align:left;
  margin-top:32px;
}


/* Page: Intro */
#logo-orig{
  margin-left:64px;
  margin-right:64px;
  max-width:min(600px , 100%);
  align-self:center;
}

#ticket{
  background-image : url("sprites-prototype/MPN2-Prototype-Image-Ticket.png");
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
  width:240px;
  height:160px;
  font-size:1.5em;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:32px;
  margin-top:64px;
  transition-property: transform margin-bottom;
  transition-duration:0.5s;
  transition-timing-function: ease-in-out;
  transform:rotate(10deg);
  pointer-events:auto;
  color:var(--color-text-dark);
}
#ticket:hover{
  transform:rotate(0deg);
}
#ticket.css-filters{
  filter:drop-shadow(8px 8px 10px #00000080);
}
#ticket.css-filters:hover{
  filter:drop-shadow(0 0 8px #ffff85);
}

/* Page: News */
#bsky-outer{
  background-color: var(--color-bluesky-backdrop);
  color:var(--color-bluesky-text);
}

/* Page: Venue */
#venue-place-name-top{
  margin-top:16px;
}
#venue-place-name-title{
  margin-top:8px;
  font-size:32px;
  font-weight:700;
}
#venue-place-address{
  margin-top:8px;
  font-style:italic;
}
#venue-map-site-links{
  margin-top:16px;
  margin-bottom:12px;
  display:flex;
  flex-direction:row;
  gap:8px;
}
#venue-map-link-naver{
  background-color:var(--color-background-naver);
  color:var(--color-text-naver);
}
#venue-map-link-kakao{
  background-color:var(--color-background-kakao);
  color:var(--color-text-kakao);
}
#venue-map-link-google{
  background-color:var(--color-background-google);
  color:var(--color-text-google);
}
#map-outer{
  width:min(600px,100%);
  height:400px;
  position:relative;
}
#kakaomap-content{
  width:100%;height:100%;
}
#map-btn-jump{
  position:absolute;
  top:16px;
  left:16px;
  width:128px;
  height:64px;
  background-color:var(--color-button-bg);
  color:var(--color-button-text);
  z-index:10;
  display:flex;
  flex-direction:row;
  align-items:center;
}
#map-btn-jump > img {
  height:48px;
  width:48px;
  margin:8px;
}
#directions-container{
  width:min(600px,100%);
  margin-top:16px;
  display:flex;
  flex-direction:column;
  gap:8px;
}
.directions-listing{
  height:100px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  gap:4px;
  border-radius: 16px;
  padding:16px;
  background-color:var(--color-background-default);
  color:var(--color-text-dark);
  position:relative;
}
.directions-icon{
  position:absolute;
  opacity:0.5;
  top:0;
  right:0;
  max-height:100%;
  
}
.directions-title{
  font-size:1.5em;
  font-weight:700;
}
.directions-body{
  
}
#directions-yangpyong{
  background-color: var(--color-background-line5);
}
#directions-yangpyong .directions-title{
  color: var(--color-text-line5);
}
#directions-munrae{
  background-color: var(--color-background-line2);
}
#directions-munrae .directions-title{
  color: var(--color-text-line2);
}
#directions-bus{
  background-color: var(--color-background-bluebus);
}
#directions-bus .directions-title{
  color: var(--color-text-bluebus);
}


/* Responsive Section */
/* Targeting down to 300px. */

/* Mobile mode */
@media (width<640px) {
  #sb-btn{
    display:block;
  }
  #sidebar-positioner{
    justify-content:flex-start;
    align-items:flex-start;
  }
  #sidebar-animation-container{
    align-items:flex-start;
  }
  #sidebar-intro-anim{
    width:240px; 
    height:240px; 
    margin-left:-60px; 
    margin-top:-60px;
  }
  
  /* The below rule has two identical ID selectors in order to raise the specificity.
   * This is to override the class+ID selector that was declared above.*/
  #sidebar#sidebar{
    width:calc(100vw - 32px);
    height:calc(100dvh - 32px);
    margin-top:16px;
    margin-left:16px;
  }
  #sidebar-content{
    position:absolute;
    top: 40px;
    bottom: 40px;
    left: 32px;
    right: 32px;
    
    margin:0;
    padding:0;
    
    font-size:1.5em;
    justify-content:space-evenly;
    overflow-y:scroll;
  }
  .sb-link{
    margin-top:0.2em;
    margin-bottom:0.2em;
  }
  .sb-category-header{
    margin-top:0.2em;
    margin-bottom:0.2em;
  }
  #main-content-backdrop{
    width:100%;
  }
  #pages-container{
    padding-left:32px;
    padding-right:32px;
  }
  #l2d-container{
    width:min(70vw,40lvh);
    height:min(70vw,40lvh);
  }
  #hmr-image-container{
    width:min(70vw,40lvh);
    height:min(70vw,40lvh);
  }
  
  #ttable-container{
    font-size:min(2.0vw,16px);
  }
}

/* Smaller Mobiles */
@media (width<480px) {
}

/* Ridiculously Small Mobiles */
@media (width<360px) {
}

/* Mobile ladder */
/* PC <-640-> Big Mobile <-480-> Small Mobile <-360-> Ridiculous <-300-> I give up */
@media (width>=480px) and (width<640px) {
  /* 640 ~ 480 : Big Mobiles */
  body{
    font-size:20px;
  }
}
@media (width>=360px) and (width<480px) {
  /* 480 ~ 360 : Small Mobiles */
  body{
    font-size:20px;
  }
}
@media (width<360px) {
  /* 360 ~ 300 : Ridiculously Small Mobiles */
  body{
    font-size:16px;
  }
}
